# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
*.whl
*.log
*.pid
.coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environment
.env
.venv
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
